WCFVerySecureClient/Service References/CustomerSvc/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44314/CustomerService.svc?xsd=xsd2" namespace="WcfDemo" />
  <xs:element name="GetCustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="WcfDemo" minOccurs="0" name="GetCustomerListResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>